# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Project Files
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.opensf
*.tlog
*.pdb
*.idb
*.lastbuildstate
*.opensdf
*.pro
*.ilk

# Resource Files
*.wav
*.mp3
*.ogg
*.bmp
*.png
*.jpg
*.jpeg
*.rc
*.ico
